@media (max-width: 767px){
	#heading h1{
		font-size: 2.5rem;
	}
	#heading h3{
		font-size: 28px;
	}
	#imgCol{
		display: none;
	}
	#aboutMe img{
		margin: 10px -25px;
	}
	#elevatorPitch{
		margin: 0;
		padding: 0;
	}
	#skills ul li{
		margin: 0 3%;
	}
	.floatRight{
		float: left;
	}
	.divider{
		display: none;
	}
}